:root {
    --buttonBack: rgb(0, 110, 114);
    --buttonText: rgb(255, 255, 255);
    --banner: #373b52;
    --callout: #3d477c;
    --pageColor: rgb(238, 237, 205);
    --bg1: rgb(237, 237, 237);
}







/* .container {
    display: grid;
    grid-template-columns: 10% auto 1fr 1fr 10%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header header header header"
        "left nav main main right"
        "footer footer footer footer footer"

    ;
    gap: 10px;
    padding: 10px;
    height: 100vh;

} */
.container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer"

    ;
    gap: 10px;
    padding: 10px;
    height: 100vh;

}
@media only screen and (max-width: 600px){
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas:
            "header"
            "nav" 
            "main"
            "footer"
    
        ;
        gap: 10px;
        padding: 10px;
        height: 100vh;
    
    }
    .pageNav{
        width:1fr;
    }
    .pageNav li{
        display:block;
    }
    .imgGrid{
        
        margin: auto;
        display:flex;
        justify-content: center;
        align-self: center;
        flex-wrap: wrap;
        outline:3px solid var(--callout);
        width:75%;
    }
    .content{
        width:90%;
    }
    .contentFull{
        width:90%;
    }
    #aboutImg{
        display:block;
    }
}

@media only screen and (min-width: 600px){
    .container {
        display: grid;
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header"
            "nav main main"
            "footer footer footer"
    
        ;
        gap: 10px;
        padding: 10px;
        height: 100vh;
    
    }
    #aboutImg{
        padding:1rem;
        height:fit-content;
        /* border:3px solid var(--callout); */
    }
    .imgGrid{
        
        margin: auto;
        display:flex;
        justify-content: center;
        align-self: center;
        flex-wrap: wrap;
        outline:3px solid var(--callout);
        width:75%;
    }
    .content{
        width:90%;
    }
    .contentFull{
        width:90%;
    }
    #aboutImg{
       display:block;
        
    }
   
    
}
@media only screen and (min-width: 900px){
    .container {
        display: grid;
        grid-template-columns: 25% 1fr 1fr 10%;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header header header header "
            "nav main main right"
            "footer footer footer footer "
    
        ;
        gap: 10px;
        padding: 10px;
        height: 100vh;
    
    }
   

}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
#aboutImg{
    float:right;
    margin:10px;
}
.header {
    grid-area: header;
    background-color: var(--banner);
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
}


nav a {
    text-decoration: none;
    color: white;
    padding: 1rem;

}
.header ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header p{
    float: left;
    display: block;
    color: white;
    font-size:larger;
}

.header li {
    float: left;
    /* padding: 5px; */
    /* margin-bottom: 3px; */
    background-color: var(--banner);
    color: #ffffff;
    margin:5px;
}
.activeTab {
    background-color: var(--callout);
}

.header li:hover {
    background-color: var(--callout);
}

.header li a {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;

}

.splash{
    background-image: url(./images/floatingIsland_new.png);
    image-rendering: optimizeSpeed;
    background-size: cover;
    background-position: center;
    width:100%;
    height:100vh;
}
.splashContent{
    width:fit-content;
    height: fit-content;
    /* top:25%;
    left:25%;
    position: relative; */
    position:relative;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    top:40%;
    /* background-color: rgba(48, 51, 53, 0.9); */
    background-color: rgba(23, 47, 51, 0.9);
    color:white;
    border-radius: 3rem;
    /* border:solid .25rem var(--bgCallout2); */
    /* color:white; */
    padding:1rem;
}

.content {
    grid-area: main;
    width:80%;
    margin:1rem;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-top:5%;
    /* background-color:rgb(255, 255, 255);
    padding:1rem; */
    margin-bottom:1rem;
}

.contentFull{
    grid-area: main;
    
    width:50%;
    margin:1rem;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    margin-top:5%;
    /* background-color:rgb(255, 255, 255);
    padding:1rem; */
    margin-bottom:1rem;
}
.imgGrid img{
    width:40%;
    outline:1px solid black;
    margin:1rem;
    padding:3px;
}
.sideImg{
    grid-area:nav;
    margin:auto;
    width:50%;
    
}






.pageNav{
    grid-area:nav;
    /* margin-top:25%; */
    background-color: var(--bg1);
    /* min-width: fit-content;
    max-width: 25%; */
    padding:1rem;
    text-align: center;
    
}
.pageNav p{
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 300;
}
.pageNav a {
    text-decoration: none;
    color: white;
    padding: 1rem;

}
.pageNav ul {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* height:100%; */

}

.pageNav li {
    /* padding: 5px; */
    /* margin-bottom: 3px; */
    background-color: var(--banner);
    color: #ffffff;
    margin:5px;
}

.pageNav li:hover {
    background-color: var(--callout);
}

.pageNav li a {
    display: block;
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;

}

.card{
    background-color: rgb(228, 228, 228);
    padding:1rem;
}
.read{
    background-color: var(--banner);
    padding:.5rem;
}
.read{
    text-decoration: none;
    color:white;
}
.topper{
    background-color: var(--banner);
    padding:.5rem;
    margin-top:3rem;  
}
.topper{
    text-decoration: none;
    color:white;
}

.footer {
    grid-area: footer;
    /* min-height:50px; */
    background-color: var(--banner);
    margin: auto;
    /* display:flex;
    justify-content: center;  
    align-self: center; */
    text-align: center;
    width:100%;
    
}
.footer p{
    color:white;
    padding-left:1rem;
    padding-right:1rem;
    font-style: italic;
    font-size:1rem;
}